.Rproj.user
.Rhistory
.RData
.Ruserdata

*.csv
*.swp
*.o
*.so
*.out
*.dll

check_rhub.cmd
cran-comments.md

R_Makevars

rstan.Rcheck/
*.log
.Renviron
*.gcno
*.def

src/
deps/
*.exe

inst/breath_test_1

src/stan/**
!src/stan/**/*.*
src/stan/**/*.exe
src/stan/**/*.EXE


